<div class="container">
  <p id="notice"><%= notice %></p>
  
  <%= render @text %>
  
  <%= link_to 'Edit', edit_text_path(@text), class: 'waves-effect waves-light btn' %> 
  <%= link_to 'Back', texts_path, class: 'waves-effect waves-light btn'%> 
  <%= link_to 'Add Relation', new_relation_text_path, class: 'waves-effect waves-light btn' %> 
</div>